@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    background: #ffffff;
}

* {
    box-sizing: border-box
}

a {
    background-color: transparent;
    color: #1e6bb8;
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

/* Buttons */
.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3)
}

.btn+.btn {
    margin-left: 1rem
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem
    }

    .btn+.btn {
        margin-top: 1rem;
        margin-left: 0
    }
}

/* Navbar */
nav {
    font-family: 'Catamaran', sans-serif;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    margin: 0rem;
    margin-left: -2rem;
    margin-bottom: 0rem;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul > li {
    padding: 15px;
    display: inline-block;
    transition: all .3s ease;
}

nav ul > li:not(:last-of-type):hover {
    background-color: transparent;
    text-decoration: none;
}

nav ul > li:first-of-type {
    background-color: transparent;
}

nav ul > li:last-of-type {
    float: right;
}

nav ul > li:last-of-type a .fa {
    font-size: 21px
}

nav ul > li:last-of-type {
    position: relative;
    display: none;
}

nav ul > ol {
    position: absolute;
    right: 0;
    background: #f8f8f8;
    text-align: left;
    list-style: none;
    display: none;
}

nav ul > ol > li {
    width: 100vw;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s ease;
}

nav ul > ol > li > a {
    margin: 20px;
    color: black;
}

nav ul > ol > li:hover {
    background: transparent;
    cursor: pointer;
}

nav ul > li:not(:first-child) {
    float: right;
}

@media screen and (max-width: 42.5em) {
    nav ul {
        background-color: white;
    }

    nav ul > li:not(:first-child) {
        display: none;
    }

    nav ul > li:last-of-type {
        display: block;
    }

    nav ul li a {
        color: #000000;
        text-decoration: none;
    }
}

@media screen and (min-width: 42.5em) {
    nav ul > ol > li {
      display:none;
    }
}

/* Page Header */
.page-header {
    color: #fff;
    text-align: center;
    background-image: linear-gradient(135deg, #305af3 10%, #7b30f3);
    margin: 0rem;
}

.page-header img {
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 12.1rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 10rem 4rem
    }
}

@media screen and (min-width: 20em) {
    .page-header {
        padding: 6rem 2rem
    }
}

@media screen and (min-width: 22em) {
    .page-header {
        padding: 10rem 2rem
    }
}

@media screen and (min-width: 25em) {
    .page-header {
        padding: 13rem 2rem
    }
}

@media screen and (min-width: 25em) and (min-height: 50em), (min-width: 23em) {
    .page-header {
        padding: 15rem 2rem
    }
}

/* Project Name*/
.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem
}

.project-name span {
    border: 1px transparent wheat;
    border-radius: 5px;
    background: #7289da;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem
    }
    .project-name span {
        font-size: 1.5rem;
        padding: 5px;
        width: 105px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem
    }
}

/* Project Tagline */
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem
    }
}

/* Main Content */
.main-content {
    color: white;
    word-wrap: break-word;
    text-align: center;
    background: rgb(74, 130, 241)
}

.main-content :first-child {
    margin-top: 0;
}

.main-content .features {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-bottom: 2rem;
    padding: 5px;
    border-radius: 8px;
    /*background: #223239;
    box-shadow: 0 4px 8px #000;*/
}

.main-content .features h2 {
    font-size: 1.5rem
}

.main-content .features h3 {
    font-size: 0.8rem
}

.main-content i {
    font-size: 5rem;
    color: #f5f6fa;
}

@media screen and (min-width: 64em) {
    .main-content {
        padding: 5rem 10rem;
        margin: 0 auto;
        font-size: 1.1rem
    }

    .main-content h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 3rem;
        font-size: 1.1rem
    }

    .main-content h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem
    }

    .main-content h1 {
        font-size: 2rem;
    }
}

/* Command Header*/
.command-header {
    color: white;
    background: #292b2c;
    word-wrap: break-word;
    text-align: center;
    margin: 0rem;
}

.command-header .command-list {
    color: #7a858c;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 1rem;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #7a858c;
    background: #393b3d!important;
    margin: 5px;
}

.command-header .tag-line {
    color: #7a858c;
}

.command-header .command-list td {
    padding: 5px;
    vertical-align: text-top;
}

.command-header .command-list em {
    color: rgb(255, 255, 255);
    font-style: normal;
}

@media screen and (min-width: 64em) {
    .command-header {
        padding: 2rem 1rem;
        margin: 0 auto;
        font-size: 1rem
    }

    .command-header h1 {
        font-size: 3rem;
    }

    .command-header .command-list {
        width: 500px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .command-header {
        padding: 3rem 2rem;
        margin: -0.1rem;
        font-size: 1rem
    }
    .command-header .command-list {
        width: 450px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .command-header {
        padding: 1rem 2rem;
        font-size: 0.6rem;
        margin-bottom: -0.1rem;
    }

    .command-header .command-list td {
        clear: both;
        display: block;
    }

    .command-header .command-list {
        width: 350px;
    }
}

@media screen and (max-width: 42em) {
    .command-header {
        padding: 1rem 2rem;
        margin-bottom: -0.1rem;
        font-size: 1rem
    }

    .command-header .command-list td {
        clear: both;
        display: block;
    }

    .command-header .command-list {
        display: block;
    }
}

/* Commands */
.commands {
    color: white;
    background: #292b2c;
    word-wrap: break-word;
    text-align: left;
}

.commands hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 10px;
    border-top: 10px solid rgba(0,0,0,.1);
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.commands .heading h3 {
    text-align: left;
    border: 1px solid #ffc107;
    background: #473502!important;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: #ffc107;
    font-size: 1rem;
}

.commands h5.cmd {
    text-align: left;
    border: 1px solid #7a858c;
    background: #393b3d!important;
    width: 300px;
    padding: 10px;
    margin: 0rem;
    margin-right: 1rem;
}

.commands .cmd em {
    color: #7a858c;
    font-style: normal;
}

.commands .cmd {
    display: inline-block;
}

.commands h5.admin {
    text-align: left;
    border: 1px transparent #ffc107;
    background: #ffc107!important;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: inline-block;
    color: #030303;
    font-size: 0.8rem;
}

.commands h6 {
    font-size: 1rem;
    color: #7a858c;
    font-style: normal;
    margin: 0rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    font-weight: normal;
}

.commands h6.example {
    border: 1px transparent #7a858c;
    background: #393b3d!important;
    border-radius: 8px;
    font-size: 1rem;
    color: #7a858c;
    font-style: normal;
    margin: 0rem;
    margin-left: 1rem;
    font-weight: normal;
    display: inline;
}

.commands h6.aliases {
    border: 1px transparent #7a858c;
    background: #393b3d!important;
    border-radius: 8px;
    font-size: 1rem;
    padding: 5px;
    color: #7a858c;
    font-style: normal;
    margin: 0rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    display: inline-block;
}

.commands .info {
    text-align: left;
    border: 1px solid #7a858c;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.commands .param {
    text-align: left;
    border: 1px solid #17a2b8;
    padding: 8px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    width: auto;
    display: block;
}

.commands .info li {
    color: #7a858c;
    font-style: normal;
}

.commands li {
    color: #7a858c;
    font-style: normal;
}

.commands .param li {
    color: #7a858c;
    font-style: normal;
}

.commands .param em {
    color: teal;
    font-weight: bold;
}

.commands em {
    color: #ffffff;
    font-style: normal;
}

@media screen and (min-width: 64em) {
    .commands {
        padding: 5rem 10rem;
        font-size: 1.1rem
    }

    .commands h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .commands {
        padding: 2rem 3rem;
        font-size: 1.1rem
    }

    .commands h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 42em) {
    .commands {
        padding: 2rem 1rem;
        font-size: 1rem
    }

    .commands h1 {
        font-size: 2rem;
    }
}

/* Footer */
.footer-section {
    font-family: 'Catamaran', sans-serif;
    overflow: hidden;
    font-style: normal;
    background-color: #2a2c30;
}

.footer-section i {
    color: #ffffff;
}

.footer-section .right {
    float: right;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    bottom: 0;
}

.footer-section .left {
    float: left;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0rem;
    color: white;
}

.footer-section h4 {
    margin: 0.1rem;
}
.footer-section h3 {
    margin: 0.1rem;
    margin-bottom: 0.7rem;
}
.footer-section .right .icons {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}
.footer-section .right .icons a {
    padding: 0.4rem;
}

@media screen and (min-width: 64em) {
    .footer-section {
        padding: 1.5rem 3rem;
        font-size: 1rem
    }

    .footer-section .right .btn {
        text-align: center;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .footer-section {
        padding: 1.5rem;
        font-size: 1rem
    }

    .footer-section .right .btn {
        text-align: center;
    }

}

@media screen and (max-width: 42em) {
    .footer-section {
        padding: 1.5rem;
        font-size: 1rem
    }

    .footer-section .right {
        float: left;
    }

    .footer-section .right .btn {
        text-align: center;
        margin-top: 1rem;
    }
}