@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    background: #102027
}

* {
    box-sizing: border-box
}

a {
    background-color: transparent;
    color: #1e6bb8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

/* Buttons */
.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3)
}

.btn+.btn {
    margin-left: 1rem
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem
    }

    .btn+.btn {
        margin-top: 1rem;
        margin-left: 0
    }
}

/* Page Header */
.page-header {
    color: #fff;
    text-align: center;
}

.navbar {
    overflow: hidden;
    font-size: 2rem
}

.navbar .right h4 { /* Not Using */
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 1rem;
}

.navbar .left img {
    float: left;
    height: 40px;
    width: 40px;
    color: #00ffff;
}

.navbar .left h4 {
    float: left;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    margin: 1rem;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 1rem 6rem
    }

    .page-header .project {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 1rem 4rem
    }

    .page-header .project {
        padding: 2rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 1.2rem 1rem
    }

    .page-header .project {
        padding: 1.5rem;
    }
}

/* Project Name*/
.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem
    }
}

/* Project Tagline */
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem
    }
}

/* Main Content */
.main-content {
    word-wrap: break-word;
    text-align: center;
}

.main-content :first-child {
    margin-top: 0;
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 3rem;
        margin: 0 auto;
        font-size: 1.1rem
    }

    .main-content h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 3rem;
        font-size: 1.1rem
    }

    .main-content h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem
    }

    .main-content h1 {
        font-size: 1.5rem;
    }
}

.main-content .features {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 5px;
    border-radius: 8px;
    /* background: #223239;
    box-shadow: 0 4px 8px #000;*/
}

.main-content .features:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3)
}

.main-content .features h2 {
    font-size: 1.5rem
}

.main-content .features h3 {
    font-size: 0.8rem
}

.main-content i {
    font-size: 5rem;
    color: hsl(54, 93%, 54%);
}